@value makerSlightlyLightGray from '../../common/colors.css';
@value makerSlightlierLightGray from '../../common/colors.css';
@value makerGray from '../../common/colors.css';
@value makerDarkGray from '../../common/colors.css';
@value small from '../../common/sizes.css';
@value smallMedium from '../../common/sizes.css';
@value medium from '../../common/sizes.css';
@value mediumMedium from '../../common/sizes.css';
@value mediumLarge from '../../common/sizes.css';

.window {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.63);
    border-radius: 40px;
    position: fixed;
    top: 100px;
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    user-select: none;
    margin-top: 20px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid makerSlightlierLightGray;
    width: 160px;
}
.subject {
    font-size: mediumLarge;
    font-weight: 400;
    color: makerGray;
}
.close_button {
    font-size: medium;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: makerSlightlyLightGray;
    margin-top: 2px;
}
.close_icon {
    margin-bottom: 2px;
}
.close_button:hover .close_icon {
    color:makerGray;
    transition: 200ms;
}
.close_button:active .close_icon {
    color:black;
    transition: 200ms;
}
.logo {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 1px;
}
.components {
    width: 250px;
}
.ok_button {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    font-size: medium;
    border: none;
    background-color: makerSlightlierLightGray;
    color: makerGray;
    position: absolute;
    bottom: 10px;
    user-select: none;
}
.ok_button:hover {
    background-color: makerGray;
    color: white;
    transition: 100ms;
}
.ok_button:focus {
    outline:none;
}
.ok_button:active{
	outline:none;
    padding:0;
    background-color: black;
    color: white;
}