@value makerSlightlyLightGray from '../../common/colors.css';
@value makerSlightlierLightGray from '../../common/colors.css';
@value makerGray from '../../common/colors.css';
@value makerDarkGray from '../../common/colors.css';
@value small from '../../common/sizes.css';
@value medium from '../../common/sizes.css';
@value mediumLarge from '../../common/sizes.css';

.window {
    border-radius: 40px;
    position: fixed;
    top: 100px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}
.header {
    display: flex;
    justify-content: center;
}
.close_button {
    font-size: mediumLarge;
    border: 1px solid black;
    position: absolute;
    right: 30px;
    top: 5px;
    color: makerSlightlyLightGray;
}
.logo {
    width: 35px;
    margin-right: 5px;
}