@value makerLightGray from '../../common/colors.css';
@value makerSlightlierLightGray from '../../common/colors.css';
@value makerGray from '../../common/colors.css';
@value makerDarkGray from '../../common/colors.css';
@value medium from '../../common/sizes.css';
@value small from '../../common/sizes.css';
@value iconSmall from '../../common/sizes.css';

.timer {
    background-color: makerLightGray;
    border-radius: 50px;
    width: 600px;
    height: 350px;
    display: inline-block;
    cursor: default;
}
.indicators {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: makerGray;
}
.cycle_icon {
    font-size: medium;
    margin-right: 10px;
}
.cycle {
    font-weight: 500;
    font-size: medium;
    margin-bottom: 5px;
    user-select: none;
}
.time_info {
    font-size: small;
}
.indicator {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: makerSlightlierLightGray;
    transition: 0.5s;
}
.indicator.focusIndicator {
    opacity: 30%;
}
.indicator.breakIndicator {
    opacity: 30%;
}

.indicator span {
    line-height: 1.5;
    font-size: medium;
    color: makerGray;
    user-select: none;
}
.clock_display {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
}
.button {
    -webkit-tap-highlight-color: transparent;
    height: 30px;
    cursor: pointer;
}
.button:hover .reset_icon {
    color: makerDarkGray;
    transition: 2ms;
}
.button:active .reset_icon {
    color: black;
}
.reset_icon {
    font-size: iconSmall;
    color: makerGray;
}

/* Mobile */
@media only screen and (max-width: 609px) {
 .timer {
     width: 300px;
     height: 230px;
 }
 .indicator {
     width: 80px;
 }
 .indicator span {
    font-size: small;
    line-height: 2;
 }
 .clock_display {
    margin-top: 35px;
}
 .cycle_icon {
     font-size: small;
 }
 .cycle {
     font-size: small;
 }
 .reset_icon {
     font-size: small;
 }
}