@value makerSlightlyLightGray from '../../common/colors.css';
@value makerGray from '../../common/colors.css';
@value makerDarkGray from '../../common/colors.css';

button {
    outline: none;
    cursor: pointer;
    border: none;
}
input {
    border: none;
}
input:focus{
    outline: none;
}
::placeholder {
    color: makerSlightlyLightGray;
}

.whole_wrapper {
    width: 570px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 30px;
    padding-bottom: 20px;
}
.input_wrapper {
    border-bottom: 3px solid makerSlightlyLightGray;
    margin: 0 20px 10px 20px;
}
.input_form {
    display: flex;
    justify-content: space-between;
}
.input {
    margin-left: 10px;
    height: 40px;
    width: 460px;
    margin-top: 10px;
    font-size: 23px;
    color: makerDarkGray;
}
.add_button {
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
    width: 40px;
    background-color: makerSlightlyLightGray;
    border-radius: 10px;
    color: white;
    -webkit-tap-highlight-color: transparent;
}
.add_button:hover {
    background-color: makerGray;
}
.add_button:active {
    background-color: black;
}
.add_icon {
    font-size: 20px;
    margin-left: 1px;
}

/* Mobile */
@media only screen and (max-width: 609px) {
    .whole_wrapper {
        width: 280px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 30px;
        padding-bottom: 20px;
    }
    .input_wrapper {
        border-bottom: 2px solid makerSlightlyLightGray;
        margin: 0 15px 5px 15px;
    }
    .input {
        height: 20px;
        width: 230px;
        font-size: 15px;
    }
    .add_button {
        margin-top: 13px;
        height: 15px;
        width: 20px;
        border-radius: 5px;
        background-color: makerGray;
        color: white;
    }
    .add_button:active {
        background-color: black;
    }
    .add_icon {
        font-size: 8px;
        margin-right: 0.6px;
        margin-bottom: 1.5px;
    }
}