@value veryLarge from '../../common/sizes.css';
@value large from '../../common/sizes.css';
@value makerDarkGray from '../../common/colors.css';

.currentTimeIndicator {
    user-select: none;
    color: makerDarkGray;
    font-size: veryLarge;
    line-height: 0.8;
}

/* Mobile */
@media only screen and (max-width: 609px) {
    .currentTimeIndicator{
        font-size: large;
    }
}