@value makerSlightlyLightGray from '../../common/colors.css';
@value makerGray from '../../common/colors.css';
@value iconSmall from '../../common/sizes.css';
@value iconMedium from '../../common/sizes.css';
@value iconVeryLarge from '../../common/sizes.css';
@value verySmall from '../../common/sizes.css';
@value small from '../../common/sizes.css';

.controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.controllers div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controllers span {
    color: makerGray;
    user-select: none;
    font-size: small;
}
.controller {
    color: makerSlightlyLightGray;
}
.sub_controller {
    font-size: iconMedium;
}
.primary_controller{
    font-size: iconVeryLarge;
}
.button:hover .controller {
    transition: 100ms;
    color: makerGray;
}
.button:active .controller {
    transition: 100ms;
    color: black;
}
.sub_controller_wrapper {
    margin-top: 10px;
    cursor: pointer;
}
.fast_backward {
    margin-right: 40px;
}
.fast_forward {
    margin-left: 40px;
}

/* Mobile */
@media only screen and (max-width: 609px) {
    .primary_controller {
        font-size: iconMedium;
    }
    .sub_controller {
        font-size: iconSmall;
    }
    .controllers span {
        font-size: verySmall;
    }
}