@value makerGray from './common/colors.css';
@value slightlySmall from './common/sizes.css';

.app {
    border-radius: 30px;
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px 40px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.copyright{
    font-size: slightlySmall;
    position: absolute;
    bottom: 10px;
    color: makerGray;
    user-select: none;
}
/* PC */
@media only screen and (max-width: 999px) {
    .app {
        width: 800px;
    }
}
/* Small Laptop */
@media only screen and (max-width: 799px) {
    .app {
        width: 700px;
    }
    .header {
        justify-content: center;
    }
}
/* Tablet */
@media only screen and (max-width: 699px) {
    .app {
        width: 610px;
    }
}
/* Mobile */
@media only screen and (max-width: 609px) {
    .app {
        width: auto;
    }
}