.app {
    border-radius: 30px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px 40px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}