@value makerGray from '../../common/colors.css';
@value makerDarkGray from '../../common/colors.css';

/* Temporarily hide banner */
.banner {
    cursor: default;
    border: 1px solid makerGray;
    display: inline-block; 
    display: none;
    text-align: center;
    margin: 20px;
    width: 500px;
}
.description {
    user-select: none;
    line-height: 5;
    color: makerDarkGray;
}

/* Mobile */
@media only screen and (max-width: 609px) {
    .banner {
        width: 350px;
    }
}

/* Small Mobile */
@media only screen and (max-width: 349px) {
    .banner {
        width: 300px;
    }
}